.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #3c4565;
    color: white;
    font-weight: 600;
    padding: 1rem ;
    margin-right:  2rem;
    margin-left:  2rem;
    margin-top:  2rem;
  }

  .nav img {
    margin: 0 16px;
  }
  .spacer {
    flex: 1;
  }